/* ---------- Reset ---------- */
body {
    font-family:$main_font;
    font-size: $base_fz;
    line-height:1.5;
    font-weight:400;
    color:$clr_black;
    background-color:$clr_white;
    overflow-x: hidden;
    @media (max-width: $break_1080) {
        font-size:13px;
    }
}
ul,ol {
    list-style-type:none;
    padding-left:0px;
    margin-bottom:0px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight:500;
    margin-bottom:15px;
    line-height:1.4;
    font-family:$second_font;
}
h1 {
    font-size:2.8em;
    @media (max-width: $break_1080) {
        font-size:2.5em;
    }
}
h2 {
    font-size:2.2em;
    @media (max-width: $break_1080) {
        font-size:1.8em;
    }
}
h3 {
    font-size:1.6em;
    @media (max-width: $break_1080) {
        font-size:1.4em;
    }
}
h4 {
    font-size:1.2em;
    @media (max-width: $break_1080) {
        font-size:1.2em;
    }
}
h5 {
    font-size:1em;
    @media (max-width: $break_1080) {
        font-size:0.85em;
    }
}
h6 {
    font-size:0.75em;
}
a {
    text-decoration: none;
    transition:600ms;
    &:hover {
        text-decoration: none;
    }
}
hr {}
a, button, input, textarea, select {
    &:focus, &:hover, &:active {
        outline:none;
        box-shadow:none;
    }
}
img {
    width:100%;
}
/* ---------- Bootstrap Reset ---------- */
